.itemDetail{
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms--display: flex;    
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms--flex-direction: row;
}

.imgDetail{
    max-width: 600px;
    max-height: 800px;
}

.itemInfo{
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms--display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms--flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.titleDetail{
    font-weight: bold;
    font-size: 30px;
}

.titleDetail, .descriptionDetail, .priceDetail, .stockDetail {
    text-align: center;
}

.priceDetail{
    font-weight: bold;
    font-size: 20px;
}

.btn-detail{
    width: 300px;
    align-self: center;
}